@{
    ViewBag.Title = "Ярусс - Комод полностью из натуральной древесины";
}
<div class="head-title">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Комод полностью из натуральной древесины</h2>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end head-title -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="content-area col-md-12" id="primary">
                <div class="site-content" id="content">
                    <div class="post format-standard hentry">
                        <header class="entry-header">
                            <div class="entry-format">
                                <div class="entry-meta">
                                    <div class="pull-left">
                                       <h3>Комод полностью из натуральной древесины</h3>
                                    </div><!-- end pull-left -->
                                    <div class="pull-right">

                                    </div><!-- end pull-right -->
                                </div><!-- end entry-meta -->
                            </div><!-- end entry-format -->                            
                        </header><!-- end entry-header -->
                        <div class="entry-content">
                            <br />
                            <p class="col-md-12">Комод в стиле Георга II. Изготовлен по всем правилам столярного искусства, собран по технологии ХVIII века. Облицован в технике маркетри натуральным шпоном лиственницы и дуба. Покрыт масляным лаком вручную. Укомплектован фурнитурой из латуни в стиле той же эпохи.</p>
                            <p class="col-md-12">Изделие доступно в нескольких вариантах отделки. Если у вас есть какие-либо вопросы, будем рады ответить. Чтобы связаться с нами, вы можете использовать форму обратной связи или телефон, которые указаны в <a href='@Url.Action("Contact", "Home")'>контактах</a></p>
                            <div class="col-md-8">
                            <figure class="wp-caption" style="margin: 0;">
                                <img src="~/images/Image00001.jpg" alt="Комод полностью из натуральной древесины">
                                <figcaption class="wp-caption-text">Образец комода из натуральной древесины</figcaption>
                            </figure>
                                </div>
                            
                            <div class="col-md-4">    
                                <p><strong>Габариты:</strong></p>                            
                                <p style='padding-left:15px;'>Высота: 851мм</p>
                                <p style='padding-left:15px;'>Ширина: 976мм</p>
                                <p style='padding-left:15px;'>Глубина: 576мм</p>
                                <p><strong>Стиль:</strong> XVIII век</p>
                                <p><strong>Материалы:</strong> массив древесины, шпон древесины</p>
                                <p><strong>Цвет:</strong> натуральный</p>
                                <p><strong>Дополнительно:</strong></p>
                                <p style='padding-left:15px;'>Поставляется в собранном виде.</p>
                                <p style='padding-left:15px;'>Транспортные расходы – по запросу.</p>
                                <p style='padding-left:15px;'>Гарантия 24 месяца.</p>
                                <p><strong>Стоимость:</strong> 185 000 руб.</p>
                            </div>

                            <div class="col-md-2 col-md-offset-10">
                                <span class="pricing-btn">
                                    <a href="@Url.Action("Contact", "Home")" class="btn btn-md btn-default">Связаться с нами</a>
                                </span>
                            </div>
                        </div>
                    </div><!-- end hentry -->
                </div><!-- end site-content -->
            </div><!-- end content-area -->
        </div><!-- end row -->
    </div>
</div><!-- end main -->