@{
    ViewBag.Title = "Ярусс - Услуги";
}
<div class="head-title">
    <div class="container">
        <div class="row">
            <h1 class="page-title">Услуги</h1>
            <p class="title-desc">Перечень услуг нашей столярной мастерской можно разбить на следующие категории:</p>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">
        <div class="row">

            <div class="content-area" id="primary">
                <!-- start content -->
                <div class="service-wrapper">

                    <div class="col-service trigger animated fadeInLeft">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-tree"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Мебель из массива дерева</h2>
                            <p>Наш конек – изготовление мебели и предметов интерьера из массива дерева. Большой спектр используемых пород дерева, стилей, материалов и способов обработки позволяют создавать нам эксклюзивную мебель.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->
                    <div class="col-service trigger animated fadeInUp">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-home"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Входные группы</h2>
                            <p>Зачастую первое впечатление об общественной организации складывается по внешнему виду входной группы. Поэтому мы считаем дизайн и изготовление входных групп одним из приоритетных направлений.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->
                    <div class="col-service trigger animated fadeInRight">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-thumb-tack"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Монтаж</h2>
                            <p>Правильный монтаж деревянных изделий сильно сказывается на внешнем виде и долговечности конструкции. Дерево – живой материал, и требует правильного обращения.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->

                    <div class="col-service trigger animated fadeInLeft">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-star"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Интерьер</h2>
                            <p>У нас за плечами много проектов по созданию и дополнению интерьеров деревянными изделиями: встраиваемой мебелью, деревянными панелями, арками и т.д.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->
                    <div class="col-service trigger animated fadeInUp">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-star-o"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Экстерьер</h2>
                            <p>Садовая мебель и деревянный забор органично вписываются в экстерьер загородного дома и дачи, а современные методы обработки позволяют им служить очень долго.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->
                    <div class="col-service trigger animated fadeInRight">
                        <span class="small-icon">
                            <i class="fa fa-fw fa-shield"></i>
                        </span>
                        <div class="small-icon-text">
                            <h2>Реставрация</h2>
                            <p>При правильном обращении деревянная мебель может служить веками. Но все же время и внешняя среда отрицательно влияют на деревянные изделия. Реставрация поправит внешний вид и продлит срок службы изделия.</p>
                        </div><!-- end text -->
                    </div><!-- end column -->

                </div><!-- end service-content -->
            </div><!-- end content-area -->

        </div><!-- end row -->
    </div>
</div><!-- end main -->
