<div class="widget">
    <h1 class="widget-title">Ярусс на Facebook</h1>
    <div class="fb-page" data-href="https://www.facebook.com/masterskayajaruss" data-width="390" data-height="150" data-hide-cover="false" data-show-facepile="false" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/masterskayajaruss">
                <a href="https://www.facebook.com/masterskayajaruss">Столярная мастерская Ярусс</a>
            </blockquote>
        </div>
    </div>
</div>