@*<footer id="footer-section" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h1 class="widget-title">О нас</h1>
                        <p>Столярная мастерская «Ярусс» занимается дизайном и изготовлением эксклюзивной мебели, предметов интерьера и экстерьера, реставрацией деревянных изделий. Мы делаем акцент на качество, практичность и эстетическую привлекательность нашей продукции.</p>
                        <p><a href="@Url.Action("Services", "Home")" class="more">Подробнее</a></p>
                    </div><!-- end inner -->
                </div><!-- end widget -->
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-inner" itemscope itemtype="http://schema.org/Organization">
                        <h1 class="widget-title">Наши контакты</h1>
                        <p><span itemprop="name">Столярная мастерская Ярусс</span> :</p>
                        <table>
                            <tr itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <td><strong>Адрес</strong></td>
                                <td> : <span itemprop="streetAddress">Улица Мичурина 112</span>, <br />&nbsp;&nbsp;г. <span itemprop="addressLocality">Томск</span> <span itemprop="addressCountry">Россия</span></td>
                            </tr>
                            <tr>
                                <td><strong>Телефон</strong></td>
                                <td> : <span itemprop="telephone">+7 903 954 1368</span></td>
                            </tr>
                            <tr>
                                <td><strong>Почта</strong></td>
                                <td> : <a href='m&#97;&#105;&#108;&#116;o&#58;info&#64;jaru&#37;73%&#55;3&#46;&#110;et' itemprop="email">in&#102;&#111;&#64;ja&#114;us&#115;&#46;net</a></td>
                            </tr>
                            <tr>
                                <td><strong>График</strong></td>
                                <td> : Понедельник &dash; Пятница <br /> &nbsp;&nbsp;09:00 &dash; 17:00</td>
                            </tr>
                        </table>
                        <p><a href="@Url.Action("Contact", "Home")" class="more">На карте</a></p>
                    </div><!-- end inner -->
                </div><!-- end widget -->
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h1 class="widget-title">Наш регион</h1>
                        <p>Большая часть наших заказчиков находится на территории сибирского федерального округа, в таких городах как Новосибирск, Красноярск, Томск, Кемерово. В настоящее время географическое расположение все меньше сказывается на доступности услуг компании, мы готовы работать на всей территории России.</p>
                    </div><!-- end inner -->
                </div><!-- end widget -->
            </div>
        </div>
    </div>
</footer>*@

<div class="footer-credit">
    <p class="copy">COPYRIGHT &copy; 2014-@DateTime.Now.Year Cтолярная мастерская "ЯРУСС"</p>
</div><!-- end footer-credit -->