<header id="masthead" class="site-header navbar-fixed-top">
    <div class="header-navigation">
        <div class="container-fluid">
            <div class="row">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".site-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="logo navbar-brand">
                    <a href="#">
                        <img src="images/logoWhite.png" alt="Логотип Ярусс" title="Столярная мастерская Ярусс" style="height: 48px; width:110px;">
                    </a>
                </div><!-- end logo -->

                <nav id="primary-navigation" class="site-navigation navbar-collapse collapse" role="navigation">
                    <div class="nav-menu">
                        <ul class="menu">
                            <li><a href="index">О компании</a></li>
                            <li>
                                <a href="#">Готовая продукция</a>
                                <ul class="">
                                    <li><a href="chestOfDrawers">Комод в стиле Георга II из массива натуральной древесины</a></li>
                                    <li><a href="cupboard">Шкаф в русском стиле из массива натуральной древесины</a></li>
                                </ul>
                            </li>
                            <li><a href="faq">Вопросы</a></li>
                            <li><a href="contact">Контакты</a></li>
                        </ul>
                    </div><!-- end nav-menu -->
                </nav><!-- primary-navigation -->

                <div class="header-feature">
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-lg btn-default">Оставить заявку</a>
                </div><!-- end header-feature -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end header-navigation -->
</header><!-- end #masthead -->