<div class="widget">
    <h1 class="widget-title">Ярусс ВКонтакте</h1>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?121"></script>
    <div id="vk_groups"></div>
    <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 1, width: "360", height: "140", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 79613373);
    </script>
</div>