<div class="widget">
    <h1 class="widget-title">Примеры работ</h1>
    <div id="sidebar-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/project-side-gazpom-gym1.jpg" alt="Отопительная секция">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Отопительная секция</h2>
                    </div>
                </div>
            </div><!-- end item -->
            <div class="item">
                <img src="images/folio5.jpg" alt="Наличники ТИБ">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Наличники ТИБ</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/project-side-furniture1.jpg" alt="Интерьер частного дома">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Интерьер частного дома</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/project-side-gazpom-gym2.jpg" alt="Спортзал Газпром">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Спортзал Газпром</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/project-side-interior1.jpg" alt="Интерьер частного дома">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Интерьер частного дома</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/project-side-interior2.jpg" alt="Интерьер частного дома">
                <div class="carousel-caption">
                    <div class="inner">
                        <h2>Интерьер частного дома</h2>
                    </div>
                </div>
            </div>
        </div><!-- end carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#sidebar-carousel" role="button" data-slide="prev">
            <span class="fa fa-fw fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#sidebar-carousel" role="button" data-slide="next">
            <span class="fa fa-fw fa-chevron-right"></span>
        </a>
    </div><!-- end carousel -->
</div><!-- end widget -->