<div class="head-title">
    <div class="container">
        <div class="row">
            <h1 class="page-title">Ошибка 404</h1>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end head-title -->

<div id="main">
    <div class="container">
        <div class="row">

            <div class="content-area fullwidth" id="primary">
                <div class="site-content" id="content">

                    <div class="error-page col-md-push-2">

                        <div class="error-header">
                            <h2>Страница не найдена.</h2>                            
                            <p><a href="@Url.Action("Index", "Home")">Перейти на главную</a></p>
                        </div><!-- end error-header -->
                    </div><!-- end error-page -->
                </div><!-- end site-content -->
            </div><!-- end content-area -->
        </div><!-- end row -->
    </div>
</div><!-- end main -->